
html
{
    overflow: hidden;
}

body
{
    margin: 0;
    box-sizing: border-box;
    background: #a4a0a5;
    background: linear-gradient(140deg, #a4a0a5 0%,#cdebfa 100%);
    background: -moz-linear-gradient(140deg, #a4a0a5 0%,#cdebfa 100%);
    background: -webkit-linear-gradient(140deg, #a4a0a5 0%,#cdebfa 100%);
}

html, body
{
    height: 100%;
}


/*body{
background: #a4a0a5;
width:100%;
min-height: 120%;
margin: 0;
background: linear-gradient(150deg, #a4a0a5 0%,#cdebfa 100%);
background: -moz-linear-gradient(150deg, #a4a0a5 0%,#cdebfa 100%);
background: -webkit-linear-gradient(150deg, #a4a0a5 0%,#cdebfa 100%);

}*/


#container{
    font-family:Arial;
    position:relative;
    background: #faf9f2;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}



#heading{
  text-shadow:0px 1px 0px #bfbfbf;
  background-image: url(https://images.procreate.art/discussions/D2534735-F761-CC19-BB1E-62A82A19AF0A.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin:auto;
  width:100%;
  height:130px;
}

h1{
  margin:20px;
}

#userinput{
     width:150px;
     padding: 5px;
     margin-left:15px;
     margin-top: 15px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 9px;
     box-shadow: 0px 0px 2px rgba(255,255,255,.75);
}

#userinput2{
     width:300px;
     padding: 5px;
     margin-left:5px;
     margin-top: 15px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 9px;
     box-shadow: 0px 0px 2px rgba(255,255,255,.75);
    

}



#enter {
  
  float:right;
  margin:5px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color:#eae0c2;
  border-radius:15px;
  border:2px solid #333029;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:10px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
#enter:hover {
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color:#ccc2a6;
}
#enter:active {
  position:relative;
  top:1px;
}


.done {
  text-decoration: line-through;
}

#MyList{
  position:relative;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 20; /* Remove margins */
}

.info2{
  background: #f0f0f0;
  background: -moz-#f0f0f0;
  background: -webkit-#f0f0f0;
  border-radius: 0px 0px 0px 0px;
  position: relative;
  width:100%;
  padding: 1px 0px 5px 0px;
  margin:4px;
  cursor: pointer;

}

li{
  position: relative;
  padding: 2 2 2 0;
  margin:10px;
  cursor: pointer;
  font-size: 20px;

}

 span{
  position: relative;
  margin:10px;
  cursor: pointer;
  font-size: 14px;
}

.Info{
  background: #f0f0f0;
  background: -moz-#f0f0f0;
  background: -webkit-#f0f0f0;
  border-radius: 0px 0px 0px 0px;
  position: relative;
  width:100%;
  padding: 1px 0px 5px 0px;
  margin:4px;
  cursor: pointer;
}




#textIn{
  display: flex;
}


.Terminate{
  background: #f0f0f0;
  background: -moz-#f0f0f0;
  background: -webkit-#f0f0f0;
  border-radius: 0px 0px 0px 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border:none;

}


.fas:hover{
    animation: swing; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;

}

.test{
  color:red;
}

#deleter {
  position: relative;
  left:480px;
  width:20%;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color:#eae0c2;
  border-radius:15px;
  border:2px solid #333029;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:10px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
#deleter:hover {
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color:#ccc2a6;
}
#deleter:active {
  position:relative;
  top:1px;
}




